<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="emp1" class="in.ad.beans.Employee">
  <property name="empName" value="Akash Dulange" />
  <property name="empDept" value="IT"/>
  <property name="JoinYear" value="2022"/>
  </bean>
  
  <bean id="emp2" class="in.ad.beans.Employee">
  <property name="empName" value="Suraj Pawar" />
  <property name="empDept" value="IT"/>
  <property name="JoinYear" value="2020"/>
  </bean>

</beans>